.Post {
    border: 1px solid grey;
    padding: 15px;
    margin-bottom: 50px;
    background: #fff;
    box-shadow:  4px 2px 16px -5px rgba(255, 255, 255, 0.75);
}

.Post .Author {
    margin-left: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
}

.Post .Title {

}
.Post img {
    width: 200px;
    float: left;
    margin: 0 15px 10px 0;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.NoComment {
color: orangered;
margin-bottom: 50px;
}